/* login.css */

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Center content vertically */
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginInput {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in width */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.loginButton {
  background-color: teal;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in width */
  border-radius: 8px;
  font-size: 18px;
}

.loginButton:hover {
  background-color: #00796b; /* Darker teal on hover */
}

.loginHeading {
  font-size: 32px;
  margin-bottom: 20px;
  color: teal;
}

